@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e8f0e3;
    color: #111;
}



.sidebar {
    position: fixed;

    left: 0;
    top: 0;

    width: 47px;
    height: 100vh;

    background: #349469;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 10;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo {
    width: 47px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo img {
    width: 30px;
    height: 30px;
    stroke-width: 1.7;
}

.sidebar-nav {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 47px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;

    transition: background 0.2s ease;
}

.nav-item svg {
    width: 22px;
    height: 22px;

    stroke-width: 1.8;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.12);
}

.nav-item.active {
    background: rgba(255, 255, 255, 0.10);
}

.sidebar-bottom {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
}