@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: rgb(200, 211, 189);
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.login-div {
    width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
}
.logoReabSYS img{
    width: 280px;
    min-height: auto;
}
