@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;

        background: linear-gradient(
        to bottom,
        rgb(254, 255, 252) 0%,
        rgb(200, 211, 189) 45%,
        #000000 75%,
        #000000 100%
    );
}

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    background-color: #349469;

    z-index: 1000;
}


.navHeader {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
}


.navLogo {
    margin-left: 4%;
}


.navLogo:hover {
    cursor: pointer;
}


#logoReabSYS {
    width: 300px;
    height: 100px;
    object-fit: contain;
}


.navLinks {
    display: flex;
    gap: 90px;
    margin-left: 5%;
}


.navConta {
    display: flex;
    align-items: center;
    gap: 30px;

    margin-left: auto;
    margin-right: 5%;
}


.navLinks a,
.navConta a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}


.navLinks a:hover,
.navConta a:hover {
    transform: scale(1.05);
}


#Entrar {
    width: 150px;
    height: 50px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;

    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 30px;

    background-color: white;

    cursor: pointer;

    transition: 0.2s;
}


#Entrar:hover {
    transform: scale(1.05);
}


.apresentacao {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 30px 0;
    text-align: center;
    background: transparent;
    position: relative;
    overflow: hidden;
}


.apresentacaoConteudo {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 1;
}


.apresentacaoConteudo {
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.apresentacao h1 {
    max-width: 850px;

    font-size: 62px;
    font-weight: 700;

    line-height: 1.08;

    letter-spacing: -2px;

    margin: 0 0 32px 0;
}

.apresentacao p {
    max-width: 720px;

    font-size: 17px;
    font-weight: 400;

    line-height: 1.6;

    color: #667;

    margin: 0;
}

#fisioterapia {
    background: linear-gradient(to right, #349469, #6ff1b3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#tecnologia {
    background: linear-gradient(to right, #6ff1b3, #349469);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sobrenos {
    width: 100%;
    padding: 70px 5%;
    background-color: #ffffff;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
}

.sobrenosTitulo {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 40px;
}

.sobrenosTitulo h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #111827;
    letter-spacing: -1.5px;
}

.sobrenos-conteudo {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1150px;
    margin: 0 auto;
}

.sobrenos-text {
    flex: 1;
    padding: 0 50px;
}

.sobrenos-text+.sobrenos-text {
    border-left: 2px solid #d5d5d5;
}

.sobrenos-text h2 {
    margin: 0 0 18px;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #141a28;
}

.sobrenos-text p {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    color: #555;
    text-align: justify;
}

.conhecaOTime {
    width: 100%;
    background-color: #e0e0e0;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 80px 5% 100px;

    box-sizing: border-box;
}


.timeTitulo {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto 40px;
}


.timeTitulo h2 {
    margin: 0;

    font-size: 48px;
    font-weight: 700;

    color: #111827;

    letter-spacing: -1.5px;
}

.time-container {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}


.time-card {
    min-height: 430px;

    background-color: #ffffff;
    border-radius: 25px;
    padding: 30px 25px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    transition: 0.25s ease;
}


.time-card:hover {
    transform: translateY(-5px);

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}


.foto-container {
    width: 115px;
    height: 115px;

    border-radius: 50%;

    overflow: hidden;

    margin-bottom: 20px;

    border: 4px solid #e8f5ee;
}


.foto-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

.time-card h3 {
    margin: 0 0 5px;

    font-size: 22px;
    font-weight: 600;

    color: #111827;
}


.cargo {
    font-size: 14px;
    font-weight: 400;

    color: #6b7280;

    margin-bottom: 20px;
}

.time-card p {
    max-width: 280px;

    margin: 0 0 20px;

    font-size: 14px;

    line-height: 1.6;

    color: #333;
}

.saibaMais {
    color: #349469;

    text-decoration: none;

    font-size: 14px;
    font-weight: 500;

    margin-bottom: 25px;

    transition: 0.2s;
}


.saibaMais:hover {
    color: #23734e;

    transform: translateY(-1px);
}

.linkedin {
    width: 30px;
    height: 30px;

    display: flex;

    align-items: center;
    justify-content: center;

    color: #ffffff;

    background-color: #349469;

    border-radius: 5px;

    text-decoration: none;

    font-size: 16px;
    font-weight: 700;

    margin-top: auto;

    transition: 0.2s;
}


.linkedin:hover {
    transform: scale(1.1);
}

.footer {
    width: 100%;
    background-color: #000000;
    color: white;
    box-sizing: border-box;
}


.footerContainer {
    width: 98%;
    margin: 0 auto;

    min-height: 210px;

    display: grid;
    grid-template-columns: 2fr 1.3fr 1.5fr 1.5fr;
    align-items: start;

    padding-top: 35px;
    padding-bottom: 30px;
    box-sizing: border-box;
}


.footerBrand {
    display: flex;
    align-items: flex-start;
}

#logoFooter {
    width: 220px;
    height: auto;
    display: block;
}


.footerColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerColumn h3 {
    margin: 0 0 5px 0;

    color: #5bd486;
    font-size: 16px;
    font-weight: 600;
}

.footerColumn a {
    color: white;
    text-decoration: none;

    font-size: 16px;
    font-weight: 400;

    transition: 0.2s;
}

.footerColumn a:hover {
    color: #5bd486;
    transform: translateX(3px);
}


.footerBottom {
    width: 94%;
    margin: 0 auto;

    border-top: 1px solid rgba(255, 255, 255, 0.7);

    min-height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerBottom p {
    margin: 0;

    font-size: 15px;
}

.footerLegal {
    display: flex;
    gap: 30px;
}

.footerLegal a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footerLegal a:hover {
    color: #5bd486;
}