@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    /* background-color: rgb(200, 211, 189); */
    /* background-color: #000000; */
        background: linear-gradient(
        to bottom,
        rgb(254, 255, 252) 0%,
        rgb(200, 211, 189) 75%,
        #000000 75%,
        #000000 100%
    );
}
.header{
    position: fixed;
    width: 100%;
    min-height: 10vh;   
    background-color: #349469;
    z-index: 1000;
}
#logoReabSYS{
    width: 300px;
    height: 100px;
}
.navHeader{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.navLogo{
    margin-left: 4%;
}
.navLogo:hover{
    cursor: pointer;
}
.navLinks{
    display: flex;
    gap: 90px;
    margin-left: 5%;
}
.navConta{
    align-items: center;
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 5%;
}
.navLinks a,
.navConta a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navLinks a:hover,
.navConta a:hover{
    transform: scale(1.05);
}

#Entrar{
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
}
#Entrar:hover{
    transform: scale(1.05);
}